.footer {
    width: 100%;
    background-color: #172337;
    line-height: 30px;
    padding: 20px;
}

.footer_up {
    width: 100%;
    display: flex;
    padding-left: 20px;

}

.footer_up_left,
.footer_up_right {
    width: 50%;
    display: flex;
}

.footer_up_left_text {
    width: 50%;
    padding: 20px;
}

.footer_up_left_text a {
    text-decoration: none;
    color: white;


}

.footer_up_left_text p {
    font-size: 12px;
}

.footer_up_right_text {
    width: 48%;
    padding: 20px;
}

.footer_up_right_text p {
    color: white;
    font-size: 12px;

}

.footer_up h3 {
    color: rgb(134, 128, 128);
    font-size: 12px;
}

.footer_down {
    width: 100%;
    border-top: 1px solid rgb(119, 114, 114);
    display: flex;
    width: 100%;
    padding: 20px;
}

.footer_down_left {
    width: 73%;
    display: flex;
}

.footer_down_left a {
    width: 18%;
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.footer_down_left p {
    font-size: 14px;
    color: white;
}

.footer_down_left i {
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 14px;
}

.footer_down_right {
    width: 25%;
}